* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  background: rgb(209, 209, 209);
}

main {
  background: #19c794;
  box-shadow: 0 0 10px rgba(20, 19, 19, 0.665);
  border-radius: 17px;
  overflow: hidden;
  width: 300px;
  position: relative;
}

.balance-show {
  padding: 12px;
  color: white;
}

.balance-show h2 {
  font-size: 15px;

}

.second-box {
  background: white;
  border-radius: 17px;
  border: none;
  padding: 10px;
  color: #000;
  min-height: 250px;
  max-height: 350px;
  overflow-y: auto;
}

.tm {
  width: 100%;
  background: rgb(153, 153, 153);
  border-radius: 15px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 14px; */
  overflow: hidden;
  position: relative;
}

.today,
.month {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  z-index: 3;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background: rgb(0, 0, 0);
  height: 100%;
  z-index: 1;
}



.day h3 {
  margin-top: 10px;
  margin-left: 10px;
}

.trans {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tDetail {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;

}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tDetail h2 {
  text-transform: capitalize;
  font-size: 18px;
}

.trans>h2 {
  font-size: 15px;
  color: red;
}

.addIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  display: grid;
  place-items: center;
  font-size: 40px;
  color: white;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


.trans-card {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: sans-serif;
  background: white;
  border-radius: 16px;
  padding: 14px;
  min-width: 300px;
  height: 250px;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
}

.close-btn h2 {
  cursor: pointer;
}

.close-btn h3 {
  font-size: 16px;
  font-weight: 700;
}

.amount-input {
  margin-top: 2rem;
  display: flex;
  gap: 20px;
}

.amount-input h2 {
  font-size: 16px;
}

.amount-input input {
  padding-left: 15px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

#option {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  font-weight: 700;
}

option {
  display: flex;
}

option img {
  height: 40px;
}

button {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  background: #19c794;
  color: white;
  cursor: pointer;
}

.card {
  z-index: 999;
}

.high {
  z-index: -999;
}